<!DOCTYPE html>
<html lang="en">
  <head>
      <h1><center>WINE NOT?</center></h1>
      <h2><center>generate a reccomended wine pairing by meal</center></h2>
    <form action="/" method="GET"><center>
        <input type="text" name="food" autocomplete="on">
        <button type="submit">Search</button></center>
    </form>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wine not?</title>
  </head>
  <body>
      {{wine}}
  </body>
 
</html>